*{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.header {
    background-color: rgb(67, 174, 236);
}
.menu ul li{
    display: inline-block;
    list-style: none;
}
.menu ul li a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 69px;
    font-size: 20px;
}
